body{
  background-color: #F5F5F1
}
h1{
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
h2{
font-size: 12px;
text-align: center;
}
.container{
  width: 500px;
}
#cardsdeck{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
#deck-manager{
  width: 1200px;
}