body{
  background-color: #F5F5F1;
  font-family: 'Catamaran', sans-serif;
  text-align: center;
}
h1{
  margin: 20px;
  font-size: 20px;
}
h2{
font-size: 12px;
}
.container{
  width: 500px;
}
#cardsdeck{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Vidaloka', serif;
}
#deck-manager{
  width: 1000px;
}
.color-grey{
color: #67625A;
}
.img{
  overflow: hidden;
  height: 75%;
}
.img img{
  transition: all .7s;
}
.img img:hover{
  scale: 1.1;
}